#options-wrapper {
	position: fixed;
	top: 10%;
	left: 16%;
	max-width: 75px;
	height: 80vh;
	padding: 15px;
}

.category-toggle {
	position: relative;
	height: 11.1111%;
}

.category-image:hover + .category-tooltip {
	visibility: visible;
}

.category-image {
	cursor: pointer;
	position: relative;
	height: 90%;
}

.category-tooltip {
	visibility: hidden;
	width: 120px;
	background-color: black;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	position: absolute;
	z-index: 1;

	top: 100%;
	left: 50%;
	margin-left: -60px;
}

.category-tooltip::after {
	content: " ";
	position: absolute;
	bottom: 100%;
	left: 50%;
	margin-left: -5px;
	border-width: 5px;
	border-style: solid;
	border-color: transparent transparent black transparent;
}