#key-wrapper {
	display: inline-block;
	position: fixed;
	/*right: 17.5%;*/
	/*float: left;*/
	margin-left: 10px;
	top: 18%;

	div {
		margin-top: 3px;
	}

	span {
		vertical-align: 60%;
		margin-left: 2px;
	}
}

.key-color {
	border-radius: 5px;
	display: inline-block;
	height: 30px;
	width: 30px;
}

#key-color-orange {
	background-color: $past-event-color;
}

#key-color-green {
	background-color: $future-event-color;	
}

#key-color-blue {
	background-color: $milestones-event-color;
}