#key-wrapper {
	display: inline-block;
	position: fixed;
	right: 17.5%;
	top: 18%;
}

.key-color {
	display: inline-block;
	height: 20px;
	width: 20px;
}

#key-color-orange {
	background-color: $past-event-color;
}

#key-color-green {
	background-color: $future-event-color;	
}

#key-color-blue {
	background-color: $milestone-event-color;
}