#dob-form {
	text-align: center;
}

.dob-instruction {
	font-size: 1.2em;
	letter-spacing: 0.03em;
	margin: 15px;
}

#dob-input {
	margin: 10px;
}

#dob-submit-button {
	height: 1.8em;
	position: relative;
	top: 0.3em;
	left: -0.7em;
}

#dob-submit-image {
	height: 100%;
}

#dob_submit {
	background: #D5BBB1;
	color: black;
	border-style: outset;
	font-weight: bold;
	text-shadow: none;
}

.dob-error {
	color: #F98948;
	font-size: 0.95em;
}