body {
	background-color: #272727;
	color: #FFFFFF;
	font-family: 'Arimo', sans-serif;
}



#dob_form {
	text-align: center;
}

.dob_instruction {
	font-size: 1.2em;
	letter-spacing: 0.03em;
	margin: 15px;
}

#dob_input {
	margin: 10px;
}

#dob_submit {
	background: #D5BBB1;
	color: black;
	border-style: outset;
	font-weight: bold;
	text-shadow: none;
}




#timeline-wrapper {
	margin: 0 auto;
	width: 50%;
}

#timeline-title {
	font-size: 40px;
	text-align: center;
	margin: 40px;
}

.timeline-event {
	margin: 20px;
}

.event-header {
	margin-bottom: 5px;
	font-size: 1em;
}

.event-date {
	font-weight: bold;
}

.event-sub {
	font-size: 0.8em;
}