body {
	background-color: #272727;
	color: #FFFFFF;
	font-family: 'Arimo', sans-serif;
}

#page-wrapper {
	margin: 0 auto;
	width: 50%;
}


/* DOB Entry Page */
#dob-form {
	text-align: center;
}

.dob-instruction {
	font-size: 1.2em;
	letter-spacing: 0.03em;
	margin: 15px;
}

#dob-input {
	margin: 10px;
}

#dob-submit-button {
	height: 1.8em;
	position: relative;
	top: 0.3em;
	left: -0.7em;
}

#dob-submit-image {
	/*height: 1.5em;*/
	height: 100%;
}

#dob_submit {
	background: #D5BBB1;
	color: black;
	border-style: outset;
	font-weight: bold;
	text-shadow: none;
}

#timeline-explained {
	
}

/* Timeline Options */
#options-wrapper {
	text-align: center;
}

.category-toggle {
	margin: 0.5em 0.1em;
	cursor: pointer;
	transition: filter 0.5s ease-out;
	width: 5.5em;
	height: 5.5em;
	padding: 1em;
	text-align: center;
}

.category-button-label {
	font-weight: bold;
	text-align: center;
}

.category-button-image {
	position: relative;
	top: -0.5em;
}



#timeline-wrapper {
	margin: 0 auto;
}

#timeline-title {
	font-size: 40px;
	text-align: center;
	margin: 40px;
}

.timeline-event {
	margin: 20px;
	max-height: 100px;
	transition: opacity 0.5s ease-out, visibility 0.5s ease-out, max-height 0.75s ease-out, margin 0.75s ease-out;
	overflow: hidden;
	opacity: 1;
	visibility: visible;
}

.past {
	color: #F5A65B;
}

.future {
	color: #56C965;
}

.event-header {
	margin-bottom: 5px;
	font-size: 1em;
}

.event-date {
	font-weight: bold;
}

.event-sub {
	font-size: 0.8em;
}

/* Event types */
.history {

}